/*INDEX*/
/*carrousel*/

section {
    .carousel-index {
        .carousel-item {
            .carousel-texto {
                text-align: start;
                width: 30rem;
                background-color:White;
                box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
                padding: 3rem 4rem 3rem 4rem;
                border-radius: 15px;
                margin-bottom: 8rem;
                p {
                    color: $verde;
                }
            }
        }
    }
}

/* servicios*/

.color-white { 
    .container {
        .ideas-index {
            padding-bottom: 3rem;
            padding-top: 3rem;
            text-align: center;
            .card {
                border:0 ;text-align: center;
                margin: auto;
                height: 280px;
                flex-wrap: wrap;
                .icon-ideas {
                    font-size: 45px;
                    padding-bottom: 5px;
                    text-align: center; 
                    color: $verde;
                }
                h4 {
                    color:$verde;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 1rem;
                    font-family:"magra";
                    }
                    .line {
                        border-top: 0.35rem solid $verde;
                        margin:auto;
                        width: 50px;
                    }
                p { 
                    line-height: 1.5;
                    padding-top: .5rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    font-weight: bold;
                }
            }
        }    
    }    
}

.col-sm {
    p {
        text-align: center;
    }
    h3 {
    text-align: center; 
    }
}

/*sobremi*/
.sobremi-index {
    margin-top: 6rem;
    margin-bottom: 6rem;
    .sobremi-index-texto {
        border-radius: 15px;
        box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
        background-color: white;
        padding: 2rem 2.5rem;
        margin-top: 2em;
        margin-bottom: 2rem;
        h2 {
           color:$violeta;    
        }
        h5 {
            line-height: 1.7;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}    
.boton-izquierda {
    text-transform: uppercase;
	padding-top: 10px;
	padding-bottom:0;
	padding-right:20px; 
	padding-left:20px;
	border-radius:15px;
	cursor: pointer;
    font-size: 15px;
    &:hover {
    color:white;}
    p {
        margin-bottom:10px ;
    }
}
.btn {
    border-radius: 15rem;
    border: 3px solid $verde; 
}
.btn-outline-success {
      border-color: $verde;
      color: $verde;
    @each $name, $color in $colors {
        &.color-#{$name} {background-color:($color);}        
        &:hover {
        color:white ;    
        border-color: $verde;
        background-color: $verde; }
        &:active {
            background-color: $violeta;
            box-shadow: 0 2px #666;
            transform: translate(2px);
        }
    }
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: $violeta;
    border-color: $violeta;    
}  
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $verde;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #CECCFF;
  }

/*combos*/
.combos {
    h2 {
       text-align: center;
        color: $violeta;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    p {
        text-align: center; 
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .card-group {
        .modal {
            width: 100%;
            height: 100%;
            .modal-dialog {
                margin:1.75rem auto;
                .modal-content {
                    .modal-header {
                        background-color:$verde;
                        .modal-title {
                            font-weight: bold;
                        }
                    }
                    .modal-body {
                        padding: 2rem 2rem 0rem 2rem ;
                        h2 {
                            text-align:start;
                            margin-bottom:.5rem;
                        }
                        .lead {
                            font-size:1.2rem ;
                            font-weight: bold;
                            color: $verde;
                            text-align:start;
                            margin-bottom: 1rem;
                        }
                        p {
                            text-align:start;
                        }
                        .texto-modal {
                            display: grid;
                            grid-gap: 5px;
                            justify-content: center;
                            grid-template-columns: repeat(12,50px);
                            width: 700px;                    
                            .numer-grid-model {
                                width: 20px;
                                color: $verde;
                                justify-self: flex-end;
                            }
                            .texto-grid-model {
                                grid-column: span 3;
                                font-weight: bold;
                            }
                        }
                        em {
                            margin: auto;
                        }
                    }
                    .modal-footer {
                        background-color:$gris-claro;
                        .redes-portfolio {
                            margin: auto;
                            border-radius: 15px;
                            padding-right:20px; 
                            padding-left:15px;
                            padding-right:15px;
                            &:hover {
                                background-color: $verde; 
                            }
                            div {
                                font-size: 2rem;
                                @each $name, $color in $colors {
                                    &.color-#{$name} {color:$color;       
                                    }
                                }
                            }
                        } 
                    }
                }    
            }
        }
        .card {
            @each $name, $color in $colors {
                &.color-#{$name} {
                @include oscuridad($color);}
            }
            .overlay-index {
                position:absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: $violeta;
                transition: .5s ease;
                border-radius:100%;
                color: transparent;
                &:hover {
                        opacity:.9;
                        border-radius:0;
                        height: auto;
                        width: 100%;
                        margin: auto;
                        transform-origin: center center;
                        color: transparent;
                        .texto-combo-hover {
                            display: flex;
                            flex-direction: row;
                            color: white;
                            align-items: center;
                            justify-content:flex-end;
                            margin-top: 16rem;
                            h4 {
                                font-family: "magra";
                                text-align:center ;
                                margin-bottom: 0;
                                color: lighten(white, 10%);
                                margin-right: 0.5rem;
                            }
                            i {
                                padding-right:1rem ;
                                color: lighten($verde, 10%);
                                font-size: 3rem;
                                line-height:0;
                            }
                        }
                }
            }
            .imagen-combo {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }    

}
